# 最低成本单机方案
APP_PORT=3000

# 必填：站点访问密码
PASSWORD=change-this-password

# 固定为 localstorage
NEXT_PUBLIC_STORAGE_TYPE=localstorage

# 可选项
NEXT_PUBLIC_SEARCH_MAX_PAGE=5
NEXT_PUBLIC_IMAGE_PROXY=
SITE_NAME=
ANNOUNCEMENT=